# Dependencies
node_modules/
.pnp
.pnp.js

# Production build outputs
dist/
build/
dist-ssr/
*.local

# Vercel & Deployment
.vercel/

# Environment variables
.env*
!.env.example

# Logs & Diagnostics
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
